<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027213716100-f7hd280c94cc40g9atqfns3i8hv9q57v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140991810911-3btu8quiq9ls0ioe486qg70r0ra3qcr9</string>
	<key>API_KEY</key>
	<string>AIzaSyCcSdJMwXXIWH-GP56dTXfCYlPLxU7YpvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1027213716100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashdhume.gymApp</string>
	<key>PROJECT_ID</key>
	<string>gymapp-1feca</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-1feca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027213716100:ios:76201c28a6e8d9ac</string>
	<key>DATABASE_URL</key>
	<string>https://gymapp-1feca.firebaseio.com</string>
</dict>
</plist>